/* adjusts top box size to cover full webpage*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*changes background color*/
body {
    background-color: #d9dcd6; /*background*/
}

/* formats full header on top*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*formats "Horiseon" in header*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*formats "seo" in header*/
header h1 .seo {
    color: #d9dcd6;
}

/*formats top right links- size, font, right side*/
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Aligns links horizontally w/out bullet points*/
header div ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

/* font color for links on top right*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*adjusts font size for texts in paragraphs*/
p {
    font-size: 16px;
}

/*controls image under header- spread across full webpage*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Formats Search Engine Optimization box to left, size*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Formats Online Reputation Management box to right, size*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Formats boxes to sit along images*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*formats box on right side to make images and text sit in a column*/
section {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


/* changes margin, color of right box*/
.benefit-section  {
    margin-bottom: 32px;          
    color: #ffffff;
}

/* Formats headers for right box text- size, centered*/
.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Formats right box images, applies space around images*/
.benefit-section img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Formats blue text box on bottom left, spaces out text and images, adjusts font*/
.media-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*adjusts size of bottom left images*/
.media-section img {
    max-height: 200px;
}

/*controls text size for bottom left images*/
.media-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*formats footer font, center with spacing*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* adjust font size of footer h2*/
footer h2 {
    font-size: 20px;
}
